body{
    background-color: rgba(34, 34, 34, 0.86);
    color: white;
    font-family:"arial", "verdana", "sans-serif";
    max-width:  1200px; 
    margin: 0 auto;
    padding: -0px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

title{
    flex-direction: column;
    line-height: 10px;    
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: white;
}
a :hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;

}

#Inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;    
}

#Inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;    
}

h1{
    font-weight: 200;
    color: rgb(217, 212, 220)    
}
main{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    margin-top: 50px;    
}
h2{
    font-size: 60px;
    line-height: 10px;
    font-family: "arial", "verdana", "sans-serif";    
}
span{
    color: rgb(132, 14, 201);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:"arial", "verdana", "sans-serif";    
}
img{
    width: 350px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]{
cursor: pointer;
}

input{
    margin-top: 25px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

